NEXT_PUBLIC_TURNSTILE_SITE_KEY=

NEXT_PUBLIC_UOBTHEATRE_GRAPHQL_ENDPOINT=https://localhost:8000
#NEXT_PUBLIC_UOBTHEATRE_GRAPHQL_ENDPOINT=https://staging.api.uobtheatre.com/graphql
#NEXT_PUBLIC_UOBTHEATRE_GRAPHQL_ENDPOINT=https://api.uobtheatre.com/graphql

# SECRETS:
TURNSTILE_SECRET_KEY=
DISCORD_WEBHOOK_URL=